@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav_main{
  background-color: rgba(8, 32, 51, 0.952);
  font-family:cursive;
  text-shadow: 1px 1px 1em rgb(165, 244, 247);;
}

.head{
  background-color: #02242c;
}
.ws{
  background-color: #02242c;
  font-family: 'Texturina', serif;
  font-weight: 600;
}

.btn{
  background-color: #0ce9da;
  box-shadow: 1px 1px 1em #a6faf4;
  color:black;
  font-size: 20px;
  font-weight: 400;
  padding: 10px 20px ;
  margin-top: 15px;
  font-family:cursive;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover{
  background-color: #1bddd0;
  box-shadow: 1px 1px 1em #c3faf6;
  color:black;
  font-size: 20px;
  font-weight: 400;
  padding: 11px 21px ;
  margin-top: 15px;
  font-family:cursive;
  border-radius: 10px;
  animation:none;
  cursor: pointer;
}

.typical{
  color: #0ce9da;
  text-shadow: 1px 1px 1em #a6faf4;
}


.card {
    backdrop-filter: blur(10px);
}

.shade :hover {
    box-shadow: 1px 1px 1em #c3faf6;
}

